@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&family=Truculenta:opsz,wdth,wght@12..72,112.5,600&display=swap');

:root {
    --primary-color: #FBC444;
    --secondary-color: #0D0E0D;
    --accent1-color: #70B77E; 
    --accent2-color: #EEE5E9;
    --accent3-color: #D64933;

    --heading-font: "Oswald", sans-serif;
    --paragraph-font: "Truculenta", sans-serif;

    --nav-background-color: #420000;
    --nav-link-color: #c8c4fd;
    --nav-hover-link-color: #808080;
    --nav-hover-background-color: #000000;
}

body{
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}

header {
    padding: 20px;
    background-color: var(--primary-color);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--secondary-color);
}

p {
    padding: 25px;
}

nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}

nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}